.cart-container {
  background: linear-gradient(135deg, #ffe6f0, #ff99cc);
  color: #4b004b;
  min-height: 80vh;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(255, 105, 180, 0.3);
}

.cart-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
}

.btn-pink {
  background-color: #ff66b2;
  color: white;
  border: none;
}

.btn-pink:hover {
  background-color: #e0559d;
  color: white;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}